<div class="table-responsive">
	<table class="table no-margin">
		<thead>
			<tr>
				<th>id</th>
				<th>type id</th>
				<th>amount</th>
				<th>balance id</th>
				<th>category id</th>
				<th>comment</th>
				<th>date</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let trans of transactions">
				<td>{{ trans.transaction_id }}</td>
				<td>{{ trans.transaction_type_id }}</td>
				<td>{{ trans.amount }}</td>
				<td>{{ trans.balance_id }}</td>
				<td>{{ trans.category_id }}</td>
				<td>{{ trans.comment }}</td>
				<td>{{ trans.date }}</td>
			</tr>
		</tbody>
	</table>
</div>
